body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
form > label {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}
form > label > * {
  margin-left: 0.4rem;
}
